{% load static %}

<!DOCTYPE html>
<head>
    <title>Stripe Membership Subscription</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static "register.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
      <div class="card" style="width: 18rem; margin-left: 10%; margin-top: 2%; background-color: rgb(196, 196, 196);">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Premium Membership Subscription</h5>
          <p class="card-text">$49.99/Month.</p>
          <div>
            <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
          </div>
        </div>
      </div>
      
  </body>
</html>